/* resets */
h1, h2, h3, h4, h5, h6,
p, ol, ul, li, table, th, td,
html, body { margin: 0; padding: 0; }
a, :link, :visited, :hover, :active { color: inherit; text-decoration: none; }
img { border: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* global variables */
:root {
  --color-primary: #B0BEC5;
  --color-primary-light: #E2F1F8;
  --color-primary-dark: #808E95;
  --color-secondary: #AB47BC;
  --color-secondary-light: #DF78EF;
  --color-secondary-dark: #790E8B;

  --color-text: black;
  --color-text-on-light: var(--color-text);
  --color-text-on-dark: white;
}

/* index.html styles */
html, body, #root { height: 100%; }
body {
  background-color: var(--color-primary-dark);
  color: var(--color-text-on-dark);
  font-family: 'Roboto', sans-serif;
}
